html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
    height: 100%;
    width: 100%;
}

#top {
	margin-left: 20px;
	margin-top: 10px;
}

#mapid {
    position: absolute;
    width: 100%;
    height: 100%;
}
